<section class="row about_me" id="about_me">
    <aside class="col-sm-3 aside_el">
        <h2>About me</h2>
        <h5>professional profile<br /> and contact info</h5>
    </aside>
    <article class="col-sm-6 borderleft par_el">
        <p>
            When I was about 11, I spent an entire summer in the University of Illinois computer lab, teaching myself how to program the
            <a href="https://en.wikipedia.org/wiki/PLATO_(computer_system)">PLATO computer system</a>.  I fell in love with programming
            and got a job as a programmer that paid my way through college.
        </p>
        <p>
            Upon leaving high school, I decided to become an electrical engineer because I wanted to take my love of computers to
            the next level - the hardware.  Along the way, I found that EE was much more than electronics and computers, and found myself
            fascinated by lasers and solid state devices, and made that into a career.
        </p>
        <p>
            But I never lost my passion for software.  I continue to get excited about creating amazingly complex and useful programs
            starting with a small set of simple statements.  I love learning the 'new' innovations for managing complexity and the always
            changing nature of software development.
        </p>
        <p>
            I'm starting a second career in my first passion, and I'm ready to begin my new adventure.
        </p>
    </article>
    <div class="cont-info col-md-3">
        <div class="info">
            <ul>
                    <li><span class="glyphicon glyphicon-earphone"></span><a href="tel:3147794525">(314) 779-4525</a></li>
                    <li><span class="glyphicon glyphicon-map-marker"></span><a>4207 Eagle Rock Ct. <br />St. Charles, MO 63304</a></li>
                    <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:michael.ries@gmail.com">michael.ries@gmail.com</a></li>
                    <li><span><img src="/app/Files/Adobe_PDF_file_icon_24x24.png" /></span><a href="/app/Files/Online Resume.pdf">Resume</a></li>
            </ul>
        </div>
    </div> <!-- /cont_info -->
</section> <!-- /about_me -->