<section class="row experience" id="experience">
    <aside class="col-sm-3 aside_el">
        <h2>Experience</h2>
        <h5>where I worked</h5>
    </aside>
    <div class="col-sm-9">
        <div class="row">
            <accordion [closeOthers]="true" class="col-sm-12  borderleft par_el in_spacing">
                <accordion-group>
                    <header accordion-heading>
                        <h2>Associate Fellow</h2><span class="period">2012 - 2016</span>
                        <h3>SunEdison Semiconductor (formerly MEMC Electronic Materials), Saint Peters, MO</h3>
                    </header>
                    <p>
                        Worked directly with customers to establish product requirements for SOI and bulk-Si 10nm and 7nm nodes.
                        Managed global R&D resources to develop processes to meet requirements and deliver products with
                        leading-edge performance. Principle investigator for several out-of-the-box product technologies.
                        Collaborated directly with customer technical personnel to develop products satisfying specialized needs.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Senior Research Scientist</h2><span class="period">2003 - 2012</span>
                        <h3>SunEdison Semiconductor (formerly MEMC Electronic Materials), Saint Peters, MO</h3>
                    </header>
                    <p>
                        Worked individually or as part of cross-functional teams to develop new or improved products and processes.
                        Used various DOE and analytical methods to improve quality, reduce cost, or improve performance of existing processes.
                        Spent one year in Leuven, Belgium as resident researcher at IMEC, developing and characterizing low-cost deposition
                        processes for strained-silicon products.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Research Scientist / Manager / Director</h2><span class="period">1996 - 2003</span>
                        <h3>MEMC Electronic Materials, Saint Peters, MO</h3>
                    </header>
                    <p>
                        Managed teams to develop, qualify and ramp MEMC's 300mm epi deposition process. Performed and analyzed experiments to
                        determine root cause of various process defects to drive yields up and costs down, significantly impacting bottom line.
                        Developed and implemented novel ideas to reduce process cycle time and improve product characteristics.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Research Assistant</h2><span class="period">1986 - 1989</span>
                        <h3>Electrical and Computer Engineering, University of Illinois</h3>
                        <p>Graduate Advisor: <a href="https://en.wikipedia.org/wiki/Nick_Holonyak">Nick Holonyak, Jr.</a></p>
                    </header>
                    <p>
                        Design, fabrication and characterization of semiconductor laser devices, studying novel laser geometries
                        and developing new processes for production of them, especially those based on native oxidation of AlGaAs structures.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Cooperative Education Student</h2><span class="period">1986 - 1989</span>
                        <h3>McDonnell Douglas Corporation, Bridgeton, MO</h3>
                    </header>
                    <p>
                        Five separate 4-month assignments including work on test and monitor equipment, neural network simulators, optical fiber
                        characterization, and semiconductor waveguide structures.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Programmer</h2><span class="period">1984 - 1988</span>
                        <h3>Intercom, Inc. Champaign, IL</h3>
                    </header>
                    <p>
                        Programmed Computer-Based Training lessons using variety of languages and personal computers. Specialized in interactive video.  Earned enough to
                        pay my way through college.
                    </p>
                </accordion-group>
            </accordion>
        </div>
    </div>
</section>