<section class="row experience" id="experience">
    <aside class="col-sm-3 aside_el">
        <h2>Experience</h2>
        <h5>where I worked</h5>
    </aside>
    <div class="col-sm-9">
        <div class="row">
            <accordion [closeOthers]="true" class="col-sm-12  borderleft par_el in_spacing">
                <accordion-group>
                    <header accordion-heading>
                        <h2>From Research Scientist to Associate Fellow</h2><span class="period">1996 - 2016</span>
                        <h3>SunEdison Semiconductor (formerly MEMC Electronic Materials), Saint Peters, MO</h3>
                    </header>
                    <p>
                        Worked directly with customers to establish product requirements for SOI and bulk-Si 10nm and 7nm nodes.
                        Managed global R&D resources to develop processes to meet requirements and deliver products with
                        leading-edge performance. Principle investigator for several out-of-the-box product technologies.
                        Collaborated directly with customer technical personnel to develop products satisfying specialized needs.
                    </p>
                    <ul>
                        <li>
                            Contributed to and led yield improvement, cost-reduction, and product development activities
                            to achieve revenue increases exceeding $200,000,000.
                        </li>
                        <li>
                            Acted as the primary technical interface with 6 key customers to develop new product
                            requirements, to report progress, and to oversee more than 14 innovative development projects.
                        </li>
                        <li>Created 7 engineering tools and database systems to enable rapid data mining, troubleshooting, analysis and reporting.</li>
                        <li>Designed and conducted experiments that increased our understanding of critical processes, resulting in 12 issued patents.</li>
                        <li>Communicated results to colleagues, management, and customers through 26 internal and external publications and many presentations.</li>
                        <li>Wrote procedures and technical documentation as part of the rigorous ISO9001 quality management system.</li>
                    </ul>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Research Assistant</h2><span class="period">1986 - 1989</span>
                        <h3>Electrical and Computer Engineering, University of Illinois</h3>
                        <p>Graduate Advisor: <a href="https://en.wikipedia.org/wiki/Nick_Holonyak">Nick Holonyak, Jr.</a></p>
                    </header>
                    <p>
                        Design, fabrication and characterization of semiconductor laser devices, studying novel laser geometries
                        and developing new processes for production of them, especially those based on native oxidation of AlGaAs structures.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Cooperative Education Student</h2><span class="period">1986 - 1989</span>
                        <h3>McDonnell Douglas Corporation, Bridgeton, MO</h3>
                    </header>
                    <p>
                        Five separate 4-month assignments including work on test and monitor equipment, neural network simulators, optical fiber
                        characterization, and semiconductor waveguide structures.
                    </p>
                </accordion-group>
                <accordion-group>
                    <header accordion-heading>
                        <h2>Programmer</h2><span class="period">1984 - 1988</span>
                        <h3>Intercom, Inc. Champaign, IL</h3>
                    </header>
                    <p>
                        Programmed Computer-Based Training lessons using variety of languages and personal computers. Specialized in interactive video.  Earned enough to
                        pay my way through college.
                    </p>
                </accordion-group>
            </accordion>
        </div>
    </div>
</section>