<section class="row expertise" id="expertise">
    <aside class="col-sm-3 aside_el">
        <h2>Expertise</h2>
        <h5>skills that I’m<br /> proud of</h5>
    </aside>
    <article class="col-sm-9 borderleft par_el">
        <p>
            My early years as a Research Scientist creating new products and process improvements
            developed my technical and analytical problem-solving skills.
        </p>
        <p>
            Subsequent years gave me opportunities to cultivate my communication, leadership and team skills,
            leading to increased responsibilities and the reputation as a company expert in several technologies.
        </p>
        <p>My lifelong passion for programming prompted me to initiate software projects whenever possible.</p>

        <ul class="skills_list">
            <li>Ruby</li>
            <li>Rails</li>
            <li>React</li>
            <li>Redux</li>
            <li>Github</li>
            <li>C</li>
            <li>C#</li>
            <li>VB</li>
            <li>Javascript</li>
            <li>SQL</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>MVC</li>
            <li>.NET</li>
            <li>Entity Framework</li>
            <li>JQuery</li>
            <li>Bootstrap</li>
            <li>JSON</li>
            <li>AJAX</li>
            <li>Angular 2</li>
            <li>Typescript</li>
        </ul>

    </article>
</section> <!-- /expertise -->